#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-56027615],h2[data-v-56027615]{font-weight:400}ul[data-v-56027615]{list-style-type:none;padding:0}li[data-v-56027615]{display:inline-block;margin:0 10px}a[data-v-56027615]{color:#42b983}
/*# sourceMappingURL=app.1de97a7f2d3cc39de35e90ba152bca28.css.map */