<template>
    <div class="hello">
        <h1>{{ msg }}</h1>

        <h2>Consulta cpf</h2>
        <form>
            <input  placeholder="cpf"  ref="cpf">
            <button v-on:click="valida">Validar</button>
        </form>
        Output: {{ output }}
    </div>
</template>

<script>
    import PostsService from '@/services/PostsService'

    export default {
        name: 'HelloWorld',
        data() {
            return {
                msg: 'Bem Vindo',
                output: ''
            }
        },
        methods: {
            valida (evt) {
                evt.preventDefault();
                var cpf = this.$refs.cpf.value;
                this.getPosts(cpf)
                //alert(JSON.stringify(this.form));
            },
            onReset (evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.form.cpf = '';
            },
            async getPosts(cpf){
                const response = await
                PostsService.fetchPosts(cpf)
                this.output = response.data
                console.log(response);
                //this.output = response.data.message
            }
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
